<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate (submit)="addBusiness()">
      <div class="form-group">
        <label class="col-md-4">Person Name</label>

        <input
          type="text"
          class="form- control"
          formControlName="person_name"
          #person_name
        />
      </div>
      <div
        *ngIf="
         f.person_name.invalid &&
          (f.person_name.dirty ||
          f.person_name.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="f.person_name.errors.required">
          Person Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Business Name </label>

        <input
          type="text"
          class="form- control"
          formControlName="business_name"
          #business_name
        />
      </div>
      <div
        *ngIf="f.business_name.invalid && (f.business_name.dirty || f.business_name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.business_name.errors.required">
          Person Business is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Business GST Number </label>

        <input
          type="number"
          class="form-control"
          formControlName="business_gst_number"
          #business_gst_number
        />
      </div>
      <div *ngIf="f.business_gst_number.invalid && f.business_gst_number.dirty || f.business_gst_number.touched" class="alert alert-danger" >
        <div *ngIf="f.business_gst_number.errors">
          Business GST Number is required.
        </div>
      </div>
      <div class="form-group">
        <button
            [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary"
        >
          Add Business
        </button>
      </div>
    </form>
  </div>
</div>
